<div class="text-center mt-5">
    <h2 class="text-success">Sipariş Alındı ✔</h2>
    <p>@TempData["orderSuccess"]</p>

    <a class="btn btn-primary mt-3" asp-controller="Products" asp-action="Index">
        Alışverişe Devam Et
    </a>
</div>
